# These are the default values for the NIRest algorithm.

# General settings
nirest.path = algorithms/nirest/
nirest.file_ext = m
nirest.working_dir_config = run_nirest.m

# Learning parameter settings. If a range is given instead of a value, as in:
# nirest.tau = 3 6
# Then a grid search between those values will be performed.

nirest.topd = 5
nirest.restk = 2

